@media  only screen and (max-width:880px){
    header nav ul , .servises{
        display: none;
    }
    header{
        justify-content: space-between;
        padding: 1vh 3vh;
    }
    header .logo{
        width: 15vh;
        height: fit-content;
        display: flex;
        align-items: center;
    }
    #particles-js .h1elem{
        font-size: 18px;
        margin-top: 10vh;
    }
    #particles-js .h3elem{
        font-size: 14px;
    }
    #particles-js .btn-support ,#particles-js .btn-shop{
        padding: 1vh 5vh;
    }
}
@media  only screen and (min-width:880px){
    header .menu-btn{
        display: none;
    }
    .menu-mobile{
        display: none;
    }
}
